<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctoangels.go.modules.sys.mapper.OfficeMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, parent_id AS parentId, parent_ids AS parentIds, `name`, sort, area_id AS areaId, code, `type`, grade, address, zip_code AS zipCode, master, phone, fax, email, USEABLE, PRIMARY_PERSON AS primaryPerson, DEPUTY_PERSON AS deputyPerson, create_by AS createBy, create_date AS createDate, update_by AS updateBy, update_date AS updateDate, remarks, del_flag AS delFlag
	</sql>

</mapper>